<div class="container">
	<div class="row">
		<h4>First name:  <%= @user.first_name %></h4>
		<h4>Last name:  <%= @user.last_name %></h4>
		<h4>Email address:  <%= @user.email_address %></h4>
		<a class="btn btn-primary" href="/users">Back</a>
	</div>
</div>


